<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js Tutorials</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="vue-app">
        <h1>Data Binding</h1>
        <a v-bind:href="website">Testing</a>
        <a :href="website">Testing</a>
        <input type="text" v-bind:value="job">
        <p v-html='websiteTag'></p>

        <h1> {{ greet('afternoon') }}</h1>
        <p>Name: {{ name }}</p>
        <p>Job: {{ job }}</p>

        <h1>Events</h1>
        <button @click='add(1)'>Add a year</button>
        <button v-on:click.once='add(1)'>Add a year once</button>
        <button v-on:click='subtract(1)'>Subtract a year</button>
        
        <button @dblclick='add(10)'>Add 10 year</button>
        <button v-on:dblclick='subtract(10)'>Subtract 10 year</button>
        
        <p>My age is {{age}}</p>

        <div id="canvas" v-on:mousemove="updateXY">{{x}}, {{y}}</div>
        <a v-on:click.prevent='click' href="http://www.123.com">Net Ninja</a>
    
        <h1>Keyboard Events</h1>
        <label>Name:</label>
        <input type="text" v-on:keyup.enter="logName"> 
        <label>Age:</label>
        <input type="text" v-on:keyup.alt.enter="logAge">
        
        <h1>Two Way Data Binding</h1>
        <label>Name:</label>
        <input type="text" v-model="Name"> 
        <span>{{Name}}</span>

        <label>Age:</label>
        <input type="text" v-model="Age">
        <span>{{Age}}</span>
    
        <h1>Computed Properties</h1>
        <button v-on:click="a++">Add to A</button>
        <button v-on:click="b++">Add to B</button>
        <p>A - {{a}}</p>
        <p>B - {{b}}</p>
        
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>

        <h1>Dynamic CSS</h1>
        <h2>Example 1</h2>
        <!-- <div v-on:click ="available = !available" v-bind:class="{available: available}">
            <span>Temi</span>
        </div> -->

        <h2>Example 2</h2>
        <button v-on:click="nearby = !nearby">Toggle Nearby</button>
        <button v-on:click="available = !available">Toggle available</button>
        <div v-bind:class="compClasses">
            <span>Tope</span>
        </div>
    </div>
    
    <script src="app.js"></script>
</body>
</html>